:root {
  --button-bg: #5C33BE;
  --button-text: #ffffff;
  --button-font-size: 18px;
  --button-height: 48px;
  --button-radius: 8px;

  --navbar-bg-start: #5c33BE;
  --navbar-bg-end: #8f4cd7;
  --navbar-text: #ffffff;

  --overlay-z-index: 10;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: #ffffff;
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: #ffffff;
  --overlay-user-login-tip: #CEA1FF;

  --tabs-indicator-bg: rgb(255, 255, 255, 0.5);

  --num-pad-border-color: #ddd;
  --num-pad-button-bg: #ffffff;

  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-border-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
}
