.mask{
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--overlay-z-index);
  height: 100%;
  width: 100%;
  background: var(--overlay-mask-bg)
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--overlay-z-index) + 1);
  height: 100%;
  width: 16em;
  background: var(--overlay-bg);
}